.sf-form {
    margin: 0;
    &__input {
        background: linear-gradient(#ffffff9e, #fff);
        border: 1px solid;
        border-top-color: #eee;
        border-bottom-color: #777;
        border-left-color: #bbb;
        border-right-color: #bbb;
        outline: none;
        font: inherit;
        padding: 8px;
        border-radius: 4px;
    }
    &__label {
        font-size: 1.0625em;
        font-weight: 500;
        margin-bottom: .25em;
        display: block;
    }

    &__field-wrapper {
        &--radio {
            margin-bottom: .5em;
        }
        &--radio &__inner {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            align-items: center;
        }
    }

    &__field-wrapper--radio &__label {
        margin-left: .25em;
        margin-bottom: 0;
    }

    &__error {
        margin-top: .25em;
        color: #e53b3b;
    }

    &__description {
        margin-top: .25em;
        opacity: .75;
        font-style: italic;
    }



    &__cancel {
        margin-left: 16px;
        font-size: 14px;
        cursor: pointer;
        border-bottom: 1px solid;
    }
    &__buttons {
        border-top: 1px solid rgba(255, 255, 255, .2);
    }

    &__group {
        &:not(:last-of-type) {
            margin-bottom: .5em;
            padding-bottom: 1em;
            border-bottom: 1px solid #444;
        }
        &__label {
            margin-bottom: .5em;
            display: block;
            font-size: 1.125em;
            font-weight: bold;
        }
    }
}
