.modal {
    position: absolute;

    &__content {
        padding: 12px;
        background: linear-gradient(#111, #222);
        border: 1px solid #252525;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    &__top {
        box-shadow: 0 20px 0 inset rgba(255, 255, 255, 0.168627451);
        background: linear-gradient(0deg, #1fa530, #2fbb41);
        font-size: 20px;
        padding: 8px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    &__close {
        position: absolute;
        top: 7px;
        right: 8px;
        font-size: 24px;
        background: #111;
        width: 24px;
        height: 24px;
        line-height: 20px;
        text-align: center;
        border-radius: 4px;
        border: 1px solid #222;
        cursor: pointer;
    }
}

