.sf-form {
    width: 100%;
    &__input {
        width: 100%;
    }
    &__buttons {
        padding-top: 16px;
        margin-top: 16px;
        &:empty {
            display: none;
        }
    }
}
