<div class="sf-box">
    <div class="sf-box__title">
        {% block title %}

        {% endblock %}
    </div>
    <div class="sf-box__main">
        {% block main %}

        {% endblock %}
    </div>
</div>
