<div data-modals-container></div>

<div data-modal-template style="display:none">
    <div class="modal" data-modal>
        <div class="modal__main">
            <div class="modal__top" data-modal-top>
                <div id="modal_title" class="modal__title"></div>
            </div>
            <div class="modal__close" data-modal-close>x</div>
            <div class="modal__content" data-modal-content hx-trigger="load">
                <div class="preloader"></div>
            </div>
        </div>

    </div>

</div>
