<html>
<head>
    {{ component('head') }}
</head>
<body>
{{ component('grid', { file: __sf_grid_file }) }}

{{ component('assets', { type: 'js' }) }}

{{ component('modals-container') }}
</body>

</html>
