.sf-grid {
    &__container {
        margin: 0 auto;
        width: 100%;
        max-width: 1600px;
    }

    &__children {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        gap: 12px;
    }
    &__row > &__children {
        flex-direction: row;
    }
    &__content {
        flex: 1;
    }
}
